
Unity/TFG/Library/ArtifactDB
Unity/TFG/Library/ArtifactDB
Unity/TFG/Library/PackageCache/com.unity.burst@1.8.7/.Runtime/libburst-llvm-15.dylib
Unity/TFG/Library/PlayerDataCache/Win64/Data/sharedassets1.assets.resS
Unity/TFG/MemoryCaptures/Doom2punto5_2024-06-14_13-30-31.snap
Unity/TFG/MemoryCaptures/Doom2punto5_2024-06-14_13-31-05.snap
Unity/TFG/MemoryCaptures/Doom2punto5_2024-06-14_13-32-01.snap
Unity/TFG/MemoryCaptures/Doom2punto5_2024-06-14_13-32-41.snap
